<a href="https://colab.research.google.com/github/TianyiGao616/Data-Science-Fundamentals/blob/main/worksheet_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Worksheet 00

Name:  Tianyi Gao
UID: U02937883

### Topics

- course overview
- python review

### Course Overview

a) Why are you taking this course?
1. I heard many of upper classes friends said this course is very useful and they learnd a lot, so I want to take this course to fullfill the elective course requirment.
2. Since I want to get to a lab this year, I need to get some data analysis skills to improve data analyse skill.
3. want to get a job

b) What are your academic and professional goals for this semester?
1. learn and get a good grade in my four courses
2. find a research lab related to my major and my academic goal
3. make new friends
4. continue finding the major I want to pursue in phd degree

c) Do you have previous Data Science experience? If so, please expand.

I had two statstics classes last semester, but they are math courses, so not related too much with data science.

d) Data Science is a combination of programming, math (linear algebra and calculus), and statistics. Which of these three do you struggle with the most (you may pick more than one)?

programming is the most difficult one for me. I'm pretty good at math and stats, but coding has totally different logic with math. I'm not good at coding in any language..

### Python review

#### Lambda functions

Python supports the creation of anonymous functions (i.e. functions that are not bound to a name) at runtime, using a construct called `lambda`. Instead of writing a named function as such:

In [ ]:
def f(x):
    return x**2
f(8)

64

One can write an anonymous function as such:

In [ ]:
(lambda x: x**2)(8)

64

A `lambda` function can take multiple arguments:

In [ ]:
(lambda x, y : x + y)(2, 3)

5

The arguments can be `lambda` functions themselves:

In [ ]:
(lambda x : x(4))(lambda y: 3 + y)

7

a) write a `lambda` function that takes three arguments `x, y, z` and returns `True` only if `x < y < z`.

In [ ]:
order = lambda x, y, z: x < y and y < z
compare = order (1,2,3)
print(compare)

True

b) write a `lambda` function that takes a parameter `n` and returns a lambda function that will multiply any input it receives by `n`. For example, if we called this function `g`, then `g(n)(2) = 2n`

In [ ]:
g = lambda n : lambda x : x * n
result = g(3)(2)
print(result)

6

#### Map

`map(func, s)`

`func` is a function and `s` is a sequence (e.g., a list).

`map()` returns an object that will apply function `func` to each of the elements of `s`.

For example if you want to multiply every element in a list by 2 you can write the following:

In [ ]:
mylist = [1, 2, 3, 4, 5]
mylist_mul_by_2 = map(lambda x : 2 * x, mylist)
print(list(mylist_mul_by_2))

[2, 4, 6, 8, 10]

`map` can also be applied to more than one list as long as they are the same size:

In [ ]:
a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]

a_plus_b = map(lambda x, y: x + y, a, b)
list(a_plus_b)

[6, 6, 6, 6, 6]

c) write a map that checks if elements are greater than zero

In [ ]:
c = [-2, -1, 0, 1, 2]
gt_zero = list(map(lambda x: x > 0, c))
list(gt_zero)

[False, False, False, True, True]

d) write a map that checks if elements are multiples of 3

In [ ]:
d = [1, 3, 6, 11, 2]
mul_of3 = list(map(lambda x: x % 3 == 0, d))
list(mul_of3)

[False, True, True, False, False]

#### Filter

`filter(function, list)` returns a new list containing all the elements of `list` for which `function()` evaluates to `True.`

e) write a filter that will only return even numbers in the list

In [ ]:
e = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = filter(lambda x: x % 2 == 0, e)
list(evens)

[2, 4, 6, 8, 10]

#### Reduce

`reduce(function, sequence[, initial])` returns the result of sequentially applying the function to the sequence (starting at an initial state). You can think of reduce as consuming the sequence via the function.

For example, let's say we want to add all elements in a list. We could write the following:

In [ ]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
sum_nums = reduce(lambda acc, x : acc + x, nums, 0)
print(sum_nums)

15

Let's walk through the steps of `reduce` above:

1) the value of `acc` is set to 0 (our initial value)
2) Apply the lambda function on `acc` and the first element of the list: `acc` = `acc` + 1 = 1
3) `acc` = `acc` + 2 = 3
4) `acc` = `acc` + 3 = 6
5) `acc` = `acc` + 4 = 10
6) `acc` = `acc` + 5 = 15
7) return `acc`

`acc` is short for `accumulator`.

f) `*challenging` Using `reduce` write a function that returns the factorial of a number. (recall: N! (N factorial) = N * (N - 1) * (N - 2) * ... * 2 * 1)

In [ ]:
from functools import reduce
factorial = lambda x : reduce(lambda x, y: x * y, range(1, x+1), 1)
factorial(10)

3628800

g) `*challenging` Using `reduce` and `filter`, write a function that returns all the primes below a certain number

In [ ]:
from functools import reduce
sieve = lambda x : reduce(lambda acc, y: list(filter(lambda z: (z==y) or (z % y != 0), acc)), [i for i in range(2, x+1)], [i for i in range(2, x+1)])
print(sieve(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### What is going on?

For each of the following code snippets, explain why the result may be unexpected and why the output is what it is:

In [ ]:
class Bank:
  def __init__(self, balance):
    self.balance = balance

  def is_overdrawn(self):
    return self.balance < 0

myBank = Bank(100)
if myBank.is_overdrawn :
  print("OVERDRAWN")
else:
  print("ALL GOOD")

OVERDRAWN

The result is OVERDRAWN since the statement does not call the method correctly, there is one parentheses "()" missing after myBank.is_overdrawn. And the condition "myBank.is_overdrawn" is always True because it's checking if the method "is_overdrawn" exists, which it does.

In [ ]:
for i in range(4):
    print(i)
    i = 10

0
1
2
3

re-assigning i to 10 within the loop doesn't change the behavior of the loop itself. The loop iterates based on the range specified, and re-assigning i to 10 inside the loop does not affect the loop's progression through the range.

In [1]:
row = [""] * 3 # row i['', '', '']
board = [row] * 3
print(board) # [['', '', ''], ['', '', ''], ['', '', '']]
board[0][0] = "X"
print(board)

[['', '', ''], ['', '', ''], ['', '', '']]
[['X', '', ''], ['X', '', ''], ['X', '', '']]

changing board[0][0] to "X" not only affects the first row but also affects the same position in all rows because all three sublists are references to the same row object, this modification affects all three sublists.

In [ ]:
funcs = []
results = []
for x in range(3):
    def some_func():
        return x
    funcs.append(some_func)
    results.append(some_func())  # note the function call here

funcs_results = [func() for func in funcs]
print(results) # [0,1,2]
print(funcs_results)

[0, 1, 2]
[2, 2, 2]

The first print is [0,1,2], because in each iteration of the loop function some_func() is called. The some_func returns value x which is the currect iteration, so result is [0,1,2].
The next prints[2,2,2] because the variable funcs_results is created outside the loop and the functions in funcs list reference the last element x = 2 when the loop ends. Therefore, all x in funcs_results ends up 2.

In [ ]:
f = open("./data.txt", "w+")
f.write("1,2,3,4,5")
f.close()

nums = []
with open("./data.txt", "w+") as f:
  lines = f.readlines()
  for line in lines:
    nums += [int(x) for x in line.split(",")]

print(sum(nums))

0

Since the f is opened with "w+" mode, which means open the file with write mode, the lines after open the f will be empty(because f.readlines). Hence for the loop, "line" is empty, so nums sum of empty list, is 0.